:root {
  --black: #141516;
  --darkgrey: #222222;
  --lightgrey: #aaaaaa;
  --red: #d0021b;
  --blue1: #3b30fe;
  --blue2: #2c24d9;
  --blue3: #2c14cc;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.windowContainer {
  background: var(--darkgrey);
  height: 100vh;
  width: 100vw;
  position: relative;
}

.resultWindow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.348);
  background-size: contain;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultContent {
  background: white;
  background-size: contain;
  text-align: center;
  width: 60%;
  height: 40%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultWindow p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#reset {
  font-size: 1.1em;
  width: 22%;
  padding: 1em 1em;
  border-radius: 1em;
  cursor: pointer;
  background: var(--red);
  color: white;
  font-weight: bold;
}

.navbar {
  background: black;
  width: 100%;
  text-align: center;
  display: flex;
  padding: 0.5em;
  align-items: center;
  /* justify-content: space-between; */
}

.mainContainer {
  /* background-color: var(--red); */
  display: flex;
  padding: 0 2em;
  height: 90%;
}

.userSection {
  flex: 1;
  /* background: var(--blue1); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2em;
}

.shuffle {
  margin-left: 1em;
  /* background: rgba(255, 255, 255, 0.158); */
  /* padding: 1em; */
}

#shuffle-button {
  background: var(--red);
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.card {
  height: 60%;
  width: 58%;
  /* background: pink; */
  position: relative;
}

.cardStack1 {
  height: 95%;
  width: 100%;
  /* background: url(./images/tribalChief.jpg); */
  background-size: cover;
  /* border: 4px solid rgb(249, 249, 115); */
  position: absolute;
  left: -1em;
  top: 2em;
  z-index: 2;
  border-radius: 1em;
}

.cardStack1 button {
  height: 3.5em;
  width: 15em;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(1px);
  color: white;
  position: absolute;
  border: none;
  right: -12.5em;
  cursor: pointer;
}
.cardStack1 button:hover {
  width: 16em;
  color: black;
  /* background: none; */
  height: 3.5em;
  right: -12.5em;
  background: linear-gradient(rgb(32, 194, 7), rgb(90, 255, 2));
  backdrop-filter: blur(1px);
  /* content: "rank #1"; */
  /* border: 2px solid white; */
}

.mainAttribute {
  font-weight: bold;
  color: var(--black);
  font-size: 1.5em;
}

#rank {
  top: 6%;
}
#height {
  top: 21%;
}
#weight {
  top: 36%;
}
#experience {
  top: 51%;
}
#fight {
  top: 66%;
}
#belts {
  top: 81%;
}

.cardStack2 {
  height: 90%;
  width: 100%;
  background: #4e4c4c;
  position: absolute;
  left: -2.5em;
  top: 4.5em;
  z-index: 1;
  border-radius: 1em;
}

.cardStack3 {
  height: 85%;
  width: 100%;
  background: #303030;
  position: absolute;
  left: -3.5em;
  top: 7em;
  border-radius: 1em;
}

.name {
  margin-top: 2.5em;
  margin-right: 1.8em;
  color: var(--lightgrey);
  font-size: 1.5em;
  /* background: yellow; */
}

.scoreSection {
  margin: 1em 0;

  /* background: var(--lightgrey); */
  width: 50%;
  display: flex;
}

.score {
  padding-right: 0.5em;
  background: var(--blue3);
  color: white;
  width: 50%;
  text-align: end;
  border-radius: 2em 0 0 2em;
}
.cardLeft {
  margin-left: 0.5em;
  padding-left: 0.5em;
  background: var(--red);
  color: white;
  width: 50%;
  border-radius: 0 2em 2em 0;
}
.title {
  font-size: 1.2em;
}

.value {
  font-size: 3em;
  padding: 0 0.2em;
}

.resultSection {
  flex: 1;
  /* background: var(--lightgrey); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userCall {
  /* background: var(--red); */
  text-align: center;
  width: 25%;
  height: 20%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px solid var(--lightgrey);
  color: var(--lightgrey);
  font-size: 1.5em;
  font-weight: bold;
}
.vs {
  /* background: var(--black); */
  color: var(--lightgrey);
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 6px 3px;
}
.compCall {
  /* background: var(--blue3); */
  text-align: center;
  width: 25%;
  height: 20%;
  /* border: 9px solid var(--black); */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px solid var(--lightgrey);
  color: var(--lightgrey);
  font-size: 1.5em;
  font-weight: bold;
}

.go {
  color: var(--red);
  margin-top: 0.5em;
  border: 4px solid var(--red);
  font-size: 1.5em;
  padding: 0.5em;
  width: 4em;
  border-radius: 4em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.go:hover {
  color: var(--darkgrey);
  background: var(--red);
  border: none;
  width: 5em;
  height: 1.5em;
}

.check {
  color: var(--blue1);
  margin-top: 2em;
  border: 4px solid var(--blue1);
  font-size: 1.5em;
  padding: 0.5em;
  width: 4em;
  border-radius: 4em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.check:hover {
  color: var(--darkgrey);
  background: var(--blue1);
  border: none;
  width: 5em;
  height: 1.5em;
}
.computerSection {
  flex: 1;
  /* background: var(--blue3); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2em;
}

.cardC {
  height: 60%;
  width: 58%;
  /* background: pink; */
  position: relative;
}

.cardStack1C {
  height: 95%;
  width: 100%;
  background: white;
  position: absolute;
  right: -1em;
  top: 2em;
  z-index: 2;
  border-radius: 1em;
  background: url("./images/wwelogo.jpg");
  background-size: cover;
}

.cardStack2C {
  height: 90%;
  width: 100%;
  background: #4e4c4c;
  position: absolute;
  right: -2.5em;
  top: 4.5em;
  z-index: 1;
  border-radius: 1em;
}

.cardStack3C {
  height: 85%;
  width: 100%;
  background: #303030;
  position: absolute;
  right: -3.5em;
  top: 7em;
  border-radius: 1em;
}

.cardStack4C {
  height: 95%;
  width: 100%;
  /* background-color: black; */
  background: url("./images/question.jpg");
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
  position: absolute;
  right: -1em;
  top: 2em;
  border-radius: 1em;
  z-index: 3;
}
.cname {
  margin-top: 2.5em;
  margin-left: 2.3em;
  color: var(--lightgrey);
  font-size: 1.5em;
  /* background: yellow; */
}

.revealCard {
  display: none;
}
